In [1]:
import pandas as pd

In [3]:
df  = pd.DataFrame({'sex' : ['Female', 'Male'], 'country' : ['From US', 'From Europe'],
                    'Browser' : ['Uses FireFox', 'Uses Chrome'],
                    'Numerical': [1, 2]})

In [7]:
df.head()

      sex      country       Browser  Numerical
0  Female      From US  Uses FireFox          1
1    Male  From Europe   Uses Chrome          2

In [9]:
pd.get_dummies(df)

,Numerical,sex_Female,sex_Male,country_From Europe,country_From US,Browser_Uses Chrome,Browser_Uses FireFox
0,1,True,False,False,True,False,True
1,2,False,True,True,False,True,False